:root {
  --main: #615fff;
  --mainHover: #4338ca;
  --lightMain: #e0e7ff;

  --pink: #ff6ec4;
  --yellow: #ecbd00;

  --white: #fff;
  --black: #1c1c1c;

  --grey: #3d3d3d;
  --lightGrey: #dfdfdf;

  --mainHsl: rgb(99, 102, 241);
  --trasparent: transparent;

  --orange: #e38d5f;
  --lightOrange: #fef2ec;

  --green: #71e364;
  --lightGreen: #d3fdcb;

  --blue: #5e9bd0;
  --lightBlue: #c4e2fd;
}

$main: #615fff;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');
